@keyframes fadeUP {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-10px);
        opacity: 0;
    }
}
.animation-fade-up {
    animation: fadeUP .500s alternate ease-in forwards;
}
/* animacion de mostrar */
.animation-fade {
    animation: fadeUP .500s alternate ease-in forwards;
}

.timeline-item-active{
    height: 2rem;
    width: 2rem;
}
.timeline-item{
    height: 1.5rem;
    width: 1.5rem;
}