---
// codigo js
import '../../styles/class.css'
---
<div class="flex flex-col space-y-4 relative h-4/5 m-10 gap-20 items-center" id="timeline-container">
    <!-- linea en vertical -->
  <div class="absolute h-full w-1 bg-white"></div>
  <!-- item -->
  <div class="flex items-center z-10">
    <!-- timeline-item-active clase del archivo class.css -->
    <div
      class="timeline-item-active bg-lime-300 rounded-full flex-shrink-0 flex justify-center items-center"
    >
      <span class="text-lg font-medium text-green-700">1</span>
    </div>
  </div>
  <!-- item -->
  <div class="flex items-center z-10">
    <!-- timeline-item-active clase del archivo class.css -->
    <div
      class="timeline-item bg-lime-300 rounded-full flex-shrink-0 flex justify-center items-center"
    >
      <span class="text-lg font-medium text-green-700">2</span>
    </div>
  </div>
  
  
</div>
