---
import Layout from "../layouts/Layout.astro";
// iconos
import Login from "../components/icons/LoginIcon.astro";
const OPTIONS = [
	{
		name: "login",
		url: "/login",
		icon: Login,
	},
];
---

<Layout title="Wanderwords - Index">
	<main class="px-4 w-full bg-red-100">
		
		<h1>Home</h1>
	</main>
</Layout>
