---
import Layout from "../layouts/Layout_login.astro";
import Container from "../components/Container.astro";
import Header from "../components/Header.astro";
// componentes
import Gradient from "../components/Gradient.astro";
// iconos
import LoginIcon from "../components/icons/LoginIcon.astro";
import RegisterIcon from "../components/icons/RegisterIcon.astro";
import EmailIcon from "../components/icons/EmailIcon.astro";
import EyeIcon from "../components/icons/EyeIcon.astro";
import CloseEyeIcon from "../components/icons/CloseEyeIcon.astro";

const OPTIONS = [
	{
		name: "Iniciar sesion",
		url: "/Login",
		Icon: LoginIcon,
	},
	{
		name: "Registrarse",
		url: "/Register",
		Icon: RegisterIcon,
	},
];

---
<Layout title="Wanderwords - Login">
	<main
		class="box-border w-full min-h-screen bg-lime-100 flex flex-col justify-center items-center gap-1"
	>
		<Gradient>
			<section
				class="absolute w-full mx-auto h-screen bg-gradient-to-t via-[#00122D]/70 to-[#00122D]/50 from-[#00122D]"
			>
			</section>
		</Gradient>
		<Header>
			{
				OPTIONS.map(({ name, url, Icon }) => (
					<>
						<li class="flex flex-row items-center justify-start lg:justify-center  w-full sm:w-[18vw] md:w-[15vw] xl:w-[10vw] gap-2 text-white hover:text-blue-500">
							<a
								href={url}
								class="flex items-start justify-start py-2 text-white rounded md:bg-transparent md:text-white md:p-0 md:dark:text-blue-500 hover:text-blue-500 w-full hover:bg-white md:hover:bg-transparent"
							>
								<Icon class="size-6" />
								<span class="ml-2">{name}</span>
							</a>
						</li>
					</>
				))
			}
		</Header>
		<Container
			class="mt-16 max-w-screen flex place-items-center justify-center"
			id="top"
		>
			<form
				class="bg-white/10 border border-slate-100 backdrop-blur-lg p-6 h-[80%] w-full m-2 lg:m-0 lg:w-1/3 lg:h-[70%] rounded-xl flex flex-col items-center justify-center"
			>
				<h2 class="text-2xl font-bold mb-4">Iniciar sesión</h2>
				<div class="relative mb-4 w-4/5">
					<input
						type="email"
						placeholder="Correo electrónico"
						class="bg-transparent border rounded-3xl border-gray-300 py-2 px-4 w-full focus:outline-none focus:border-blue-500"
					/>
					<div
						class="absolute inset-y-0 right-0 flex items-center px-2"
					>
						<!-- Icono para el campo de correo electrónico -->
						<EmailIcon class="size-6 text-sm"/>
					</div>
				</div>
				<div class="relative mb-6 w-4/5">
					<input
						type="password"
						placeholder="Contraseña"
						class="bg-transparent border rounded-3xl border-gray-300 py-2 px-4 w-full focus:outline-none focus:border-blue-500"
						id="passwordInput"
					/>
					<div
						class="absolute inset-y-0 right-0 flex items-center px-2"
						id="togglePasswordVisibility"
					>
						<!-- Icono para cambiar la visibilidad de la contraseña -->
						<EyeIcon class="size-6 text-sm" id="eyeIcon"/>
						<CloseEyeIcon class="hidden size-6 text-sm" id="closeEyeIcon"/>
					</div>
				</div>
				
				<button
					class="bg-[#95DF89] text-white py-2 px-4 font-bold hover:bg-white hover:text-green-700 transition-colors w-4/5 rounded-3xl"
					>Ingresar</button
				>
				<div class="w-4/5">
					<p class="text-white text-sm p-2">Si no tienes un cuenta creada <a href="#" class="underline">registrate aqui</a> </p>
				</div>
			</form>
		</Container>
	</main>
	<script src="../controllers/login.js/showPassword.js"></script>
</Layout>

